* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.subject-header {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.subject-tabs {
  font-size: 16px;
  font-weight: 300;
  margin-left: 45px;
}

.line-break {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #aaaaaa;
  height: 0;
  margin: 10px 25px;
  width: 82%;
}

.tab-container {
  display: flex;
  justify-content: center;
}

.tab-align {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 45px;
}

.tab-area {
  display: flex;
  text-align: center;
}

.tabs {
  background-color: #F2F2F2;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid gray;
  font-weight: 300;
  padding: 10px;
  width: 250px;
}

.card {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.left-card {
  margin: 25px;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.line-break-card {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #aaaaaa;
  height: 0;
  margin: 5px;
  width: 585px;
}

.card-titles {
  font-size: 24px;
  margin: 10px 0px;
}

p {
  font-size: 18px;
  margin: 10px 0px;
}

.image-1 {
 background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0b/37/24/65/sandemans-new-london.jpg');
}

.image-2 {
  background-image: url('https://cdn.londonandpartners.com/visit/london-organisations/tower-bridge/63730-640x360-tower-bridge-cam-640.jpg');
}

.image-3 {
  background-image: url('https://cdn.londonandpartners.com/visit/london-organisations/buckingham-palace/100222-640x360-buckingham-palace-at-dusk-640.jpg');
}

.image-4 {
  background-image: url('https://assets.londonist.com/uploads/2017/10/i875/the_dome_from_south_of_the_river_1.jpg');
}

.image {
 background-position: center;
 background-size: cover;
 height: 305px;
 width: 309px;

}

.not-shown {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-code {
  background-color: #3F3244;
  color: #F2F2F2;
  font-weight: 300;
  font-size: 18px;
  height: 45px;
  width: 325px;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration-line: none;
}

.selected {
  font-weight: 400;
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
}

@media only screen and (max-width: 1283px) {
    .line-break {
       width: 75%;
    }
}

@media only screen and (max-width: 1043px) {
    .tabs {
       width: 200px;
    }

    .card {
      width: 800px;
    }
}

@media only screen and (max-width: 838px) {
    .line-break {
       width: 50%;
    }
}

@media only screen and (max-width: 825px) {
    .line-break {
       width: 50%;
    }

    .tabs {
      width: 180px;
    }

    .card {
      width: 720px;
    }
}

@media only screen and (max-width: 745px) {
    .tabs {
       width: 163px;
    }

    .card {
      width: 650px;
    }
}

@media only screen and (max-width: 666px) {
    .tabs {
       width: 145px;
    }

    .card {
      width: 580px;
    }
}

@media only screen and (max-width: 375px) {
    .card {
      width: 0px;
      flex-direction: column;
    }

    .image {
      height: 185px;
      width: 236px;
    }
}

